<article class='dish'>
    <p>{{this.name}}</p>
    <p class='price'>{{this.price}}</p>
    <div>
        <input type="number" name="{{this._id}}" id="{{this._id}}" class="quantity" value='0'>
    </div>
    <div class='subtotal'>Subtotal: <span>0</span>€</div>
    <input type="button" class="update" value="Update order">
    {{!-- <input type="button" class="update">Update order</button> --}}

</article>