<form action="/" method="post">

<label for="name">Name</label>
<input type="text" name='name' id= 'name' placeholder='Please enter your name'>

<label for="password">Name</label>
<input type="password" name='password' id= 'password' placeholder='Please enter your password'>

<label for="usertype">Are you a customer or a restaurant?</label>
<select name="usertype" id="usertype">
    <option value="business">I am a restaurant</option>
    <option value="customer">I am a customer</option>
</select>

<button type="submit">Log in</button>
</form>