{{> restaurantNavBar this}}

<section>
    <article>
        <h4>Basic Info</h4>
        <label for="userName">Name</label>
        <input type="text" name='userName' id='userName' value='{{restaurant.userName}}'>
        <label for="category">Name</label>
        <input type="text" name='category' id='category' value='{{restaurant.category}}'>
        <label for="capacity">Name</label>
        <input type="number" name='capacity' id='capacity' value='{{restaurant.capacity}}'>
        <label for="description">Name</label>
        <input type="text" name='description' id='description' value='{{restaurant.description}}'>

    </article>
</section>