{{> customerNavBar this}}
<form action="/user/order/{{id}}" method="post">
<h1>Your order</h1>

{{#each dish}}

{{> orderitem this}}

{{/each}}

{{!-- <div id="order-total">Total: <span>0</span>€</div> --}}

<label for="total">Total: </label>
<input type="number" id="order-total" name="total" value='0' readonly>

<input type="button" class="update" value="Update order">
<button type="submit">Place order</button>


<script src="/javascripts/order.js"></script>
</form>