{{> customerNavBar this}}
<form action="/user/order/{{id}}" method="post">
<h1>Your order</h1>

{{#each dish}}

{{> orderitem this}}

{{/each}}


<label for="total">Total: </label>
<input type="number" id="order-total" name="total" value='0' readonly>

<button type="submit" class="btn btn-primary">Place order</button>


<script src="/javascripts/order.js" defer></script>
</form>