{{> customerNavBar this}}

<div>
  <form method="POST" action="search" class="form-inline" id="searchForm">
    <div class="form-group col-md-4">
        <label for="inputState">City</label><br>
        <select name="city" id="inputState" class="form-control">
            <option selected>Choose...</option>
            {{#each restaurants}}
            <option>{{this.location.city}}</option>
            {{/each}}
            
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="inputState">Cuisine</label><br>
        <select name = "cuisine" id="inputState" class="form-control">
            <option selected>Choose...</option>
            {{#each restaurants}}
            <option>{{this.cuisine}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group col-md-4">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
    
    </form>
    {{#if matches}}
    {{/if}}
</div>
<hr>