{{> customerNavBar this}}

<div>
  <form class="form-inline" id="searchForm">
    <div class="form-group col-md-4">
        <label for="inputState">City</label><br>
        <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="inputState">Cuisine</label><br>
        <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Restaurant</label><br>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    </form>
</div>
<hr>