$primary-color: #4AD770;
$secondary-color: #42E497;
$edit-color: #E4BF42;
$tertiary-color: #4267E4;
$warning-color: #F50D22;
$backgroung-color: #F0EAEB;

body{
    background-color: $backgroung-color;
}
#inputState {
    margin-left: 10px;
}
.addDishForm {
    margin-left: 20px;
}
.btn-primary{
    margin-left: 5px;
}
.btn-yellow{
    background-color: $edit-color;
    border-color: $edit-color;
}
.btn-red{
    background-color: $warning-color;
    border-color: $warning-color;
}
#navbar-hungry{
    background-color: $tertiary-color;
    color: $backgroung-color;
}
.navbar-toggler{
    background-color: $primary-color;
}
.navbar-light .navbar-nav .nav-link{
    color: $backgroung-color;
}
#btn-logOut{
    list-style: none;
    color: $backgroung-color;
    font-style: oblique;
}
.btn-primary{
    background-color: $tertiary-color;
}
.sign-form{
    margin: 50% 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choose-type{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.log-btn{
    margin:30px;
}
.input-group-text{
    background-color: $secondary-color;
}
a{
 color: $tertiary-color;   
}