$primary-color: #4AD770;
$secondary-color: #42E497;
$edit-color: #E4BF42;
$tertiary-color: #4267E4;
$warning-color: #F50D22;
$backgroung-color: #F0EAEB;

body{
    background-color: $backgroung-color;
}
#inputState {
    margin-left: 10px;
}
.addDishForm {
    margin-left: 20px;
}
.btn-primary{
    margin-left: 5px;
}
.btn-yellow{
    background-color: $edit-color;
    border-color: $edit-color;
}
.btn-red{
    background-color: $warning-color;
    border-color: $warning-color;
}
#navbar-hungry{
    background-color: $tertiary-color;
    color: $backgroung-color;
}
.navbar-toggler{
    background-color: $primary-color;
}
.navbar-light .navbar-nav .nav-link{
    color: $backgroung-color;
}
#btn-logOut{
    list-style: none;
    color: $backgroung-color;
    font-style: oblique;
}
.btn-primary{
    background-color: $tertiary-color;
}
.sign-form{
    margin: 50% 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choose-type{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.log-btn{
    margin:30px;
}
.input-group-text{
    background-color: $secondary-color;
}
a{
 color: $tertiary-color;
}
.logoSection{
    border: 1px solid $secondary-color;
}
.btn{
    color: $backgroung-color
}
#searchForm{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 20px;
}
.search-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:40%;
}
#search-all{
    display: flex;
    flex-direction: column;
    justify-content: center;;
}
.search-label{
    background-color: $primary-color;
    padding:5px 10px;
}
.search-control{
    width: 100% !important;
    margin: 10px;
}
hr{
    border: 3px dashed $tertiary-color;
    background-color: $primary-color;
}
.card-search{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.card-body-search{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-tags{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid $tertiary-color
}

.card-description{
    margin:10px;
    text-align: justify;
}

.card-myorders{
    margin:20px 0;
}

.myorder-item{
    display: flex;
    justify-content: space-around;
}

.table-cell{
    width: 100px;
    text-align: center;
}