body {
  background-color: #F0EAEB;
  font-family: Montserrat, sans-serif;
}

#inputState {
  margin-left: 10px;
}

.addDishForm {
  margin-left: 20px;
}

#navbar-hungry {
  background-color: #4267E4;
  color: #F0EAEB;
}

.navbar-toggler {
  background-color: #4AD770;
}

.navbar-light .navbar-nav .nav-link {
  color: #F0EAEB;
}

#btn-logOut {
  list-style: none;
  color: #F0EAEB;
  font-style: oblique;
}

.logoSection {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #42E497;
}

.card-section {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #42E497;
}

.myRestaurant-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-primary {
  background-color: #4267E4;
}

.sign-form {
  margin: 50% 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basicInfo-form {
  margin: auto 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addDishForm {
  display: flex;
  flex-direction: column;
}

.imgSection {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.imgSection img {
  margin: auto 30px;
}

.imgSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.choose-type {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.log-btn {
  margin: 30px;
}

.input-group-text {
  background-color: #42E497;
}

a {
  color: #4267E4;
}

.addNewDish {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 2px solid #42E497;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.dishesInfo {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.DishCard {
  margin: 10px;
  align-items: center;
}

.dishForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

h4 {
  margin-left: 30px;
  margin-top: 10px;
}

.btn {
  color: #F0EAEB;
}

#searchForm {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 30px 20px;
}

.search-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

#search-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-label {
  background-color: #4AD770;
  padding: 5px 10px;
}

.search-control {
  width: 100% !important;
  margin: 10px;
}

hr {
  border: 3px dashed #4267E4;
  background-color: #4AD770;
}

.card-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
}

.card-body-search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-tags {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #4267E4;
}

.card-description {
  margin: 10px;
  text-align: justify;
}

.card-myorders {
  margin: 20px 0;
  background-color: #F0EAEB;
  border: none;
}

.myorder-item {
  display: flex;
  justify-content: space-around;
}

.table-cell {
  width: 125px;
  text-align: center;
}

.card-header {
  background-color: #4267E4;
  color: #F0EAEB;
}

.card-footer {
  background-color: #4267E4;
  color: #F0EAEB;
}

.card-body-myorders {
  background-color: #42E497;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myorders-table {
  background-color: #42E497;
  border: none;
  justify-content: center;
}

.btn-yellow {
  background-color: #E4BF42;
  border-color: #E4BF42;
}

.btn-red {
  background-color: #F50D22;
  border-color: #F50D22;
}

.mymenuDelete {
  margin-left: 150px;
}

.mymenuEdit {
  margin-left: 20px;
}

.sectionItem {
  margin: auto 30px;
}

.image-container {
  width: 100px !important;
  height: 100px;
}

.dish {
  display: flex;
  justify-content: space-between;
  border: solid 2px #4267E4;
  background-color: #42E497;
  margin: 10px;
}

.quantity {
  width: 20px;
}

.img-and-text {
  display: flex;
  justify-content: flex-start;
}

.quantity-and-subtotal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.quantity-and-subtotal div {
  margin: 5px;
}

.description {
  font-size: 0.7em;
}

.imageToAdd {
  margin: 5px;
}

.myRestCardItems {
  text-align: center;
}

.restaurantsOrdersCardFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.order-served-btn {
  background-color: #4AD770;
  border-color: #42E497;
  color: black;
}

.order-status-restaurant {
  font-size: 1.3rem;
}

.category-menu-display {
  margin-right: 30px;
}

.card-pic {
  width: 100%;
  height: 100%;
}

.table-and-total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: 900px) {
  .sign-form {
    margin: 250px 50px;
  }

  .card-search {
    width: 45%;
  }

  .searchMatches {
    display: flex;
    flex-wrap: wrap;
  }

  .order-container {
    display: flex;
    flex-wrap: wrap;
  }

  .dish {
    width: 30%;
  }

  .order-buttons {
    display: none;
  }

  .quantity {
    width: 40px;
  }

  .card-body-search {
    width: 300px;
  }
}
.table-orders-restaurant {
  margin-left: 150px;
  font-size: 1.3rem;
}

.payform {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}

.card input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
}

.result-message {
  line-height: 22px;
  font-size: 16px;
}

.result-message a {
  color: #596fd6;
  font-weight: 600;
  text-decoration: none;
}

.hidden-pay {
  display: none;
}

#card-error {
  color: #697386;
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

#card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 44px;
  width: 100%;
  background: white;
}

#payment-request-button {
  margin-bottom: 32px;
}

/* Buttons and links */
.paybutton {
  background: #5469d4;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 0 0 4px 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

.paybutton:hover {
  filter: contrast(115%);
}

.paybutton:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
  }
}

/*# sourceMappingURL=style.css.map */
