$primary-color: #55e9bc;
$secondary-color: #55e9bc;
$edit-color: #E4BF42;
$tertiary-color: #BC55E9;
$warning-color: #F50D22;
$backgroung-color: #F0EAEB;
$btn-add: #39c926;

//General tag styles
body{
    background-color: $backgroung-color;
    font-family: Montserrat, sans-serif;
}

a{
    color: $tertiary-color;
   }

h4{
    margin-left: 30px;
    margin-top: 10px;
}

hr{
    border: 3px dashed $tertiary-color;
    background-color: $primary-color;
}

//Overriding general bootstrap classes

.btn-primary{
    background-color: $tertiary-color;
    border-color: $tertiary-color;
    &:hover{
        background-color: $primary-color;
        border-color: $primary-color;
    }
    &:active{
        background-color: $primary-color!important;
        border-color: $primary-color!important;
    }
    &:focus{
        background-color: $primary-color;
        border-color: $primary-color;
    }
}


//Login and register page styles

.sign-form{
    margin: 30% 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo{
        width: 100px;
        height: 100px;
        margin-bottom: 50px;
    }
    .input-group-prepend{
        width: 105px;
        .input-group-text{
            background-color: $secondary-color;
            width: inherit;
        }
    }
    .choose-type{
        width:100%;
        display: flex;
        justify-content: space-evenly;
    }
    .log-btn{
        margin:30px;
    }
    .login-error{
        text-align: center;
    }
}

//Navbar styles
#navbar-hungry{
    background-image: linear-gradient(135deg, #BC55E9, #55e9bc);
    color: $backgroung-color;
    .navbar-toggler{
        background-color: transparent;
    }
    .nav-link{
        color: $backgroung-color;
    }
    .btn-logOut{
        list-style: none;
        color: $tertiary-color;
        font-style: oblique;
    }
    .nav-item{
        margin: auto 10px;
    }
    .logout-container{
        display: flex;
        justify-content: flex-end;
    }
    .navbar-title{
        font-size: 1.5em;
    }
}

//Restaurant profile styles





.myRestaurant-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .card-section{
        margin: 20px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 2px solid $secondary-color;
        .card{
            width: 18rem;
            .card-title{
                border-bottom: 1px solid $primary-color;
                text-align: center;
            }
            .card-text{
                font-size:0.8em
            }          
        }
        .logoSection{
            margin: 20px 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            #backend_upload{
                .profile-upload-input{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin: 15px auto;
                }
                #photo_image{
                    width: 250px;
                }
            }
        }
    }
    .input-group-prepend{
        width: 121px;
        .input-group-text{
            background-color: $secondary-color;
            width: inherit;
        }
    }
    
}


#inputState {
    margin-left: 10px;
}
.addDishForm {
    margin-left: 20px;
}
.basicInfo-form{
    margin: auto 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addDishForm{
    display: flex;
    flex-direction: column;
}
.imgSection{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.imgSection img{
    margin: auto 30px;
}
.imgSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}



.addNewDish{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 2px solid $secondary-color;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.dishesInfo{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.DishCard{
    margin: 10px;
    align-items: center;
}
.dishForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}


.btn{
    color: $backgroung-color
}
#searchForm{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 15px 20px 5px 20px;
}
.search-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:40%;
}
#search-all{
    display: flex;
    flex-direction: column;
    justify-content: center;;
}
.search-label{
    background-color: $primary-color;
    padding:5px 10px;
}
.search-control{
    width: 100% !important;
    margin: 10px;
}

.card-search{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.card-body-search{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-tags{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid $tertiary-color
}

.card-myorders{
    margin:20px 0;
    background-color: $backgroung-color;
    border:none;
}

.myorder-item{
    display: flex;
    justify-content: space-around;
}

.table-cell{
    width: 125px;
    text-align: center;
}
.card-header{
    background-color: $tertiary-color;
    color: $backgroung-color
}
.card-footer{
    background-color: $tertiary-color;
    color: $backgroung-color
}
.card-body-myorders{
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myorders-table{
    background-color: $secondary-color;
    border: none;
    justify-content: center;
}
.btn-yellow{
    background-color: $edit-color;
    border-color: $edit-color;
}
.btn-red{
    background-color: $warning-color;
    border-color: $warning-color;
}
.mymenuDelete{
    margin-left: 150px;
}
.mymenuEdit{
    margin-left: 20px;
}
.sectionItem{
    margin: auto 30px;
}
.image-container{
    width: 100px !important;
    height: 100px;
}

.dish{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: $secondary-color;
    margin: 10px;
}

.quantity{
    width: 30px;
}

.img-and-text{
    display: flex;
    justify-content: flex-start;

}
.quantity-and-subtotal{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.quantity-and-subtotal div{
    margin:5px;
}

.description{
    font-size: 0.7em;
}



#qrcode{
    width: 200px;
    height: 200px;
}

#qr-container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.imageToAdd{
    margin: 5px;
}

.myRestCardItems{
    text-align: center;
}

.restaurantsOrdersCardFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.order-served-btn{
    background-color: $primary-color;
    border-color: $secondary-color;
    color: black;
}

.order-status-restaurant{
    font-size: 1.3rem;
}

.category-menu-display{
    margin-right: 30px;
}

.card-pic{
    width: 100%;
    height: 100%;
}

.table-and-total{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}



#login-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

#app-title{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.logoSection .input-group{
    width: 80%;
}

#photo-image{
    width:80%;
}

.logoSection .form_controls{
    width: 60%;
}

.quantity-and-subtotal{
    margin-top: 5px;
}
#table{
    width: 20px;
    margin-left: 5px;
}
.select-table{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.category-title{
    font-size: 1.2rem;
    font-style: oblique;
    text-decoration: underline $tertiary-color;
    color: $tertiary-color;
    padding-top: 0px;
    margin-top: 5px;
    // border-bottom: 1px solid $primary-color;
    // border-top: 3px solid $primary-color;
}

.category-title span{
    margin-left: 5px;
}

#order-total{
    width: 30px;
}

.hr-categories{
    border: 2px solid $primary-color;
    margin: 40px 0px;
    .sign-form{
        margin:100px 50px;
    }
    .card-search{
        width: 45%;
    }
    .order-container{
        display:flex;
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .order-buttons{
        display: none;
    }
    .quantity{
        width: 30px;
    }
    .card-body-search{
        width:300px;
    }
    .sign-form .input-group{
        align-items: inherit;
        width: 50%;
    }
    .sign-form .input-group .form-control{
        flex: 1 1;
    }
    .logoSection .form_controls{
        width: 60%;
    }
    .card-myorders{
        width: 30%;
        margin: 10px 10px;
    }
}

.orders-container{
    display: flex;
    flex-wrap: wrap;
}

.orders-container hr{
    display:none;
}

.table-orders-restaurant{
    margin-left: 150px;
    font-size: 1.3rem;
}

.form-user-order{
    margin-left: 10px;
}

#user-order-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

.card {
    .order-dish-data{
        margin: 5px;
        h5{
            text-align:center;
        }
    }
}

.border-btm{
    border-bottom: 1px solid $primary-color;
}

.btn-green{
    background-color: $btn-add;
    border: none;
    margin-right: 10px;
}

.card-order-user{
    background-color: $tertiary-color;
    color: $backgroung-color;
}

.card-img-top{
    padding: 5px;
    border-radius: 6px;
}

.description{
    p{

        margin: 2px auto 2px auto;
    }
}

.card-search-location{
    border: 1px solid $backgroung-color;
}
.card-search-user{
    background-color: $tertiary-color;
    color: $backgroung-color;
}
.searchMatches{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.searchMatches .card-tags{
    border: 1px solid $backgroung-color;
}

.searchMatches .card-title{
    margin: 10px auto;
    font-size: 1.8rem;
}

.searchMatches .card-search-user .card-img{
    // padding:10px 60px;
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
}
.searchMatches .card-body{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.searchMatches .card-search-user{
    margin: 10px;
}

.card-search-user #search-order{
    margin-top: 10px;
    margin-bottom: 2px;
    background-color: $tertiary-color;
    // box-shadow: -2px 2px $secondary-color, -1px 1px $secondary-color, -0.5px 0.5px $secondary-color;
    // border: 1px solid $primary-color;
}
.searchMatches .card-description{
    margin: 10px auto;
}
.searchMatches  .card-text{
    font-size: 1.1rem;
}

@media (min-width: 900px){
    //Sign form styles for desktop
    .sign-form{
        margin:100px 50px;
        .input-group{
            align-items: inherit;
            width: 50%;
            .form-control{
                flex: 1 1;
            }
        }
    } 
    //Navbar adjustment for desktop
    .navbar-title{
        margin: auto 15px;
    }

    //Profile page adjustment
    .myRestaurant-all{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .card-section{
            border-bottom: none;
        }
    }


    .card-search{
        width: 45%;
    }

    .searchMatches{
        display: flex;
        flex-wrap: wrap;
    }

    .order-container{
        display:flex;
        flex-wrap: wrap;
        margin-left: 10px;
    }

    .order-buttons{
        display: none;
    }

    .quantity{
        width: 30px;
    }

    .card-body-search{
        width:300px;
    }

    .logoSection {
        .form_controls{
        width: 60%;
        }
    }

    .card-myorders{
        width: 30%;
        margin: 10px 10px;
    }
}



